*{
    margin: 0 auto;
    padding: 0;
    font-family: "Microsoft YaHei";
}
@font-face{
    font-family: "fzqk";
    src: url("../font/fzqk.TTF");
}
@font-face{
    font-family: "fzxd";
    src: url("../font/fzxd.ttf");
}

@font-face{
    src: url("../font/zhsr.ttf");
    font-family: "zhsr";
}
.clearfloat{
    zoom: 1;
}
.clearfloat:after{
    content: "";
    clear: both;
    display: table;
}